.Question-div{
    margin-left:10%;
    margin-right:10%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border:1px solid black;
}
.Question-question{
    background-color: rgb(68,199,245);
    text-align:center;
    border:1px solid black;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}
.Question-topPad{
    font-weight: bold;
}

.Question-option{
    font-weight: bold;
}

.Question-p{
    margin:0;
    padding:0;
}