.YourScore-score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    background-color: rgb(68,195,249);
    margin:10px;
    border:1px solid #000000;
    color:white;
}

.YourScore-num{
    font-size:30px;
    padding-left:40px;
    font-weight: bold;
}
.YourScore-text{
    color:rgb(251, 165, 26);

}
.YourScore-length{
    font-size:20px;
}
.YourScore-number{
    color:black;

}
